body {
    margin: 0px;
}

p {
    margin: 0px;
    font-size: 18px;
}

h1 {
    color: #CD4B2D;
    text-align: center;
    font-size: 64px;
}

h2 {
    margin: 0;
}

ul {
    margin: 0px;
    padding-left: 0px;
    list-style: none;
}

.inline_item {
    display: inline-block;
    position: relative;
    padding: 5px 6px 5px 10px;
    color: #404040;
    font-size: 11px;
    line-height: 13px;
}

.inline_item:before {
    content: '';
    position: absolute;
    top: 11px;
    left: 0;
    width: 3px;
    height: 3px;
    background: #999;
    border-radius: 100%;
}

.inline_item:first-child {
    padding-left: 0;
}

.inline_item:first-child:before {
    display: none;
}

.inline_item a:hover {
    color: red;
    cursor: pointer;
}

.groupby_navigation {
    position: relative;
    padding-left: 15px;
}

.table-reports {
    border-collapse: collapse;
    width: 100%;
}

.th-reports, .td-reports {
    text-align: left;
    padding: 8px;
}

.tr-reports:nth-child(odd){background-color: #FEFFE7}

.th-reports {
    background-color: #E7E8CA;
    color: black;
}


.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}


.header-wrapper {
    height: 40px;
}

.header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 40px;
    overflow: hidden;
    background: #E7E8CA;
    padding-left: 10px;
    padding-right: 10px;
}

.header a {
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
    color: #CD4B2D;
    margin-left: 5px;
}

.header-right {
    float: right;
    height: 40px;
}

.header-right a {
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.72);
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.header-right a.active {
    font-weight: bold;
    color: #CD4B2D;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 5px solid;
    border-color: #CD4B2D;
    line-height: 40px;
}

.header .logo {
    float: left;
    padding-left: 10px;
    width: 40px;
    height: 40px;
}

.main_title .logo {
    width: 100px;
    height: 100px;
}

.main_title h1 {
  position: relative;
  top: 18px;
  font-size: 64px;
}

.center-line {
    position: relative;
    width: 900px;
    left: 50%;

    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.center-form {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

button {
    height: 25px;
    border: 0;
    font-size: 17px;
    color: #FCFCFC;
    font-weight: bold;

    background: #2B3368;
}



.center-form .search {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search {
    width: 50%;
    text-align: center;
}

.result_search {
    float: right;
    width: 200px;
    text-align: center;
}

.UploadInput {
    height: 25px;
    background: #E7E8CA;
    padding-left: 8px;
    cursor: pointer;
    font-family: Arial;
}

.oneline {
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 170px 500px 100px;
}

.file_upload {
    position: relative;
    overflow: hidden;
    font-size: 1em;        /* example */
    height: 25px;           /* example */
    line-height: 25px       /* the same as height */
}

.file_upload > button{
    float: right;
    width: 8em;            /* example */
}

.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}

.oneline2 {
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 170px 600px;
}

.dropbtn {
    background-color: #E7E8CA;
    height: 25px;
    width: 600px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #C4C4C4;
}

.show {display:block;}

.result {
    border-top: 1px solid #BDBDBD;
}

.clearfix {
    overflow: auto;
    padding: 15px;
}

.infoblock {
    position: fixed;
    left: 10px;
    right: 320px;
}


.result_container {
    position: fixed;
    top: 200px;
    bottom: 0;
    left: 15px;
    right: 320px;
}

.overflowdiva {
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 99%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.block {
    background: #FEFFE7;
    margin-bottom: 20px;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.matchInfo {
    position: fixed;
    width: 400px;
    bottom: 0px;
    right: 0px;
    top:59px;
    border: 1px solid#BDBDBD;
}

.mainResult {
    overflow:scroll;
    position: fixed;
    left:0px;
    bottom:0px;
    top:60px;
    right: 401px;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
}

.select-selected {
    background-color: #E7E8CA;
    height: 20px;
    width: 590px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 8px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 8px;
}

.select-items div,.select-selected {
  color: #000000;
  padding-left: 8px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: #E7E8CA;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.2);
}


.orfcntTb  {
    margin-top: 10px;
}

.orfcntTb table {
    margin-left: 10px;
    margin-right: 10px;

    border-collapse: collapse;
}

.orfcntTb th, .orfcntTb td {
    border: 1px solid #ddd;
    text-align: center;
}

.filter_panel {
    position: fixed;
    width: 318px;
    bottom: 0px;
    right: 0px;
    top:39px;
    border: 1px solid#BDBDBD;
}

.block_with_line {
    border-bottom: 1px solid #BDBDBD;
}

.block_filter {
    padding-bottom: 20px;
}


.centerblock {
    overflow-y: hidden;
    overflow-x: hidden;

    height: calc(100% - 60px);
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;;
}

.styled-select {
    border: 1px solid #ccc;
    height: 30px;
    overflow: hidden;
    width: 260px;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 260px;
}