{% load staticfiles %}

{% block filter_panel %}
    <div class="filter_panel">
        <div class="centerblock">
            <div class="block_with_line">
                <div class="block_filter">
                    <p class="section_name">
                        <b> Group by: </b>
                    </p>
                    <div class="styled-select">
                        <select id="select_group_by" onchange="group_by_update()">
                            <option value="none">none</option>
                            <option value="genome_id">Genome id</option>
                            <option value="structure_id">Structure id</option>
                            <option value="BGC">BGC</option>
                            <option value="product">Product</option>
                        </select>
                    </div>
                </div>
                <div class="block_filter">
                    <p>
                        <b> Minimum score: </b>
                        <input type="number" min="0" id="min_score" value=0 oninput="generate_query()">
                    </p>
                </div>
                <div class="block_filter">
                    <p>
                        <b> Minimum length: </b>
                        <input type="number" min="0" id="min_len" value=0 oninput="generate_query()">
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}