{% load staticfiles %}

<html>
    <head>
        <title>NRPs Matcher</title>
         <link rel="stylesheet" href="{% static 'css/nrpMatcher.css' %}">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>
        <h1>NRPs Matcher</h1>
        <form method="POST" class="center-form" enctype="multipart/form-data" > {% csrf_token %}
            <div class="oneline2">
                <p>Search type:</p>
                <div class="dropdown">
                <button class="dropbtn">Genome against NRPs</button>
                <div class="dropdown-content">
                    <a href="#">Genome against NRPs</a>
                </div>
                </div>
            </div>
            <div class="oneline2">
                <p>Upload Genome:</p>
                <div class="file_upload" id="file_upload">
                    <button id="uploadButton">
                        Upload
                    </button>
                    <div class="UploadInput" id="UploadInput">
                    No file chosen
                    </div>
                    {{ form.as_p }}
                    <!-input type="file" id="inputFile"->
                </div>
            </div>
            <div class="oneline2">
                <p>NRPs Data Base:</p>
                <div class="dropdown">
                <button class="dropbtn">Streptome</button>
                <div class="dropdown-content">
                    <a href="#">Streptome</a>
                </div>
                </div>
            </div>
            <button id="mainsearch" class="search">
                SEARCH
            </button>
        </form>
    <script src="{%  static 'JS/uploadFile.js' %}"></script>
    </body>
</html>