{% load staticfiles %}

<html>
    <head>
        <title>NRPs Matcher</title>
         <link rel="stylesheet" href="{% static 'css/nrpMatcher.css' %}">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>

    <div class="center-line">

    <div class="header">
        <img class="logo" src="{%  static 'img/icon.png' %}" alt="logo">
        <img class="cab" src="{%  static 'img/cab.png' %}" alt="cab">
        <img class="cmu" src="{%  static 'img/cmu.png' %}" alt="cmu">
        <h1>NRP Matcher</h1>
    </div>

    <div class="center-form">
        <div class="clearfix">
        <form method="POST" enctype="multipart/form-data" > {% csrf_token %}
            <div class="oneline2">
                <p><b>Search mode:</b></p>
                <div class="custom-select" style="width:600px;">
                <select id="id_search_type" name="search_type">
                    <option value="genome">A genome against NRP database</option>
                    <option value="nrp">A NRP against genome database</option>
                    <option value="one">A genome against a NRP</option>
                </select>
                </div>
            </div>
            <div class="oneline2" id="upload_block">
                <p><b>Genome sequence:</b></p>
                <div class="file_upload" id="file_upload">
                    <button id="uploadButton">
                        Upload
                    </button>
                    <div class="UploadInput" id="UploadInput">
                    No file chosen
                    </div>
                    <input type="file" name="inputFileGenome" required="" id="id_inputFileGenome">
                </div>
            </div>
            <div class="oneline2" id="choose_db">
                <p><b>NRP database:</b></p>
                <div class="custom-select" style="width:600px;">
                <select id="id_nrp_db" name="nrp_db">
                    <option value="streptome">Streptome</option>
                </select>
                </div>
            </div>
            <div style="padding-top:20px">
            <button id="mainsearch" class="search">
                SEARCH
            </button>
            </div>
        </form>
        </div>
    </div>


        <div class="main_result">
                <p style="position: absolute;left:0px;padding-top: 5px;"><b>Reports:</b></p>
                <!-div style="padding-left: 150px"->
                <table class="table-reports">
                <tr>
                    <th class="th-reports">Time</th>
                    <th class="th-reports">Search mode</th>
                    <th class="th-reports">Genome filename/database</th>
                    <th class="th-reports">NRP filename/database</th>
                    <th class="th-reports">Number of found matches</th>
                    <th class="th-reports">Status</th>
                </tr>

                {% for request in requests %}
                    <tr class="tr-reports" onclick="document.location = {% url 'res_page' pk=request.request_id %};">
                        <td class="td-reports"><a href="{% url 'res_page' pk=request.request_id %}"> {{request.date}}</a></td>
                        <td class="td-reports"><a href="{% url 'res_page' pk=request.request_id %}">{{request.search_mode}}</a></td>
                        <td class="td-reports"><a href="{% url 'res_page' pk=request.request_id %}">{{request.genome_file}}</a></td>
                        <td class="td-reports"><a href="{% url 'res_page' pk=request.request_id %}">{{request.nrp_file}}</a></td>
                        <td class="td-reports"><a href="{% url 'res_page' pk=request.request_id %}">{{request.matchCnt}}</a></td>
                        <td class="td-reports"><a href="{% url 'res_page' pk=request.request_id %}">{{request.status}}</a></td>
                    </tr>
                {% endfor %}
                <!-/div->
                </table>
        </div>
    </div>

    <script src="{%  static 'JS/uploadFile.js' %}"></script>
    <script src="{%  static 'JS/dropDown.js' %}"></script>
    </body>
</html>