{% load staticfiles %}
{% include 'matching/header.html' %}

<html>
    <head>
        <title>Nerpa</title>
         <link rel="stylesheet" href="{% static 'css/nrpMatcher.css' %}">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>

    {% block header %}
    {% endblock %}

    <div class="center-line">
        <div class="main_title">
            <h1><img class="logo" src="{%  static 'img/icon.png' %}" alt="logo"> Nerpa</h1>
        </div>

    <div class="center-form">

        <div class="clearfix">
        <form method="POST" enctype="multipart/form-data" > {% csrf_token %}
            <div class="oneline2">
                <p><b>Search mode:</b></p>
                <div class="custom-select" style="width:600px;">
                <select id="id_search_type" name="search_type">
                    <option value="genome">A genome against NRP database</option>
                    <option value="nrp">A NRP against genome database</option>
                    <option value="one">A genome against a NRP</option>
                </select>
                </div>
            </div>
            <div class="oneline2" id="upload_block">
                <p><b>Genome sequence:</b></p>
                <div class="file_upload" id="file_upload">
                    <button id="uploadButton">
                        Upload
                    </button>
                    <div class="UploadInput" id="UploadInput">
                    No file chosen
                    </div>
                    <input type="file" name="inputFileGenome" required="" id="id_inputFileGenome">
                </div>
            </div>
            <div class="oneline2" id="choose_db">
                <p><b>NRPs Data Base:</b></p>
                <div class="custom-select" style="width:600px;">
                <select id="id_nrp_db" name="nrp_db">
                    <option value="PNP">PNP</option>
                </select>
                </div>
            </div>
            <div style="padding-top:20px">
            <button id="mainsearch" class="search">
                SEARCH
            </button>
            </div>
        </form>
        </div>
    </div>
    </div>

    <script src="{%  static 'JS/uploadFile.js' %}"></script>
    <script src="{%  static 'JS/dropDown.js' %}"></script>
    <script src="{%  static 'JS/TabChoose.js' %}"></script>
    <script>
        changeActive("Search");
    </script>
    </body>
</html>