{% load staticfiles %}

<html>
    <head>
        <title>Nerpa</title>
         <link rel="stylesheet" href="{% static 'css/nrpMatcher.css' %}">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body style="margin-left: 100px; margin-right: 100px">

    {% include 'matching/header.html' %}

        <p style="padding-bottom: 10px"><b>Reports:</b></p>
        <!-div style="padding-left: 150px"->
        <table class="table-reports">
            <tr>
                <th class="th-reports">Time</th>
                <th class="th-reports">Search mode</th>
                <th class="th-reports">Genome filename/database</th>
                <th class="th-reports">NRP filename/database</th>
                <th class="th-reports">Number of found matches</th>
                <th class="th-reports">Status</th>
            </tr>

            {% for request in requests %}
                <tr class="tr-reports" onclick="document.location = {% url 'res_page' pk=request.request_id %};">
                    <td class="td-reports"><a href="{% url 'res_page' pk=request.request_id %}">{{request.date}}</a></td>
                    <td class="td-reports"><a href="{% url 'res_page' pk=request.request_id %}">{{request.search_mode}}</a></td>
                    <td class="td-reports"><a href="{% url 'res_page' pk=request.request_id %}">{{request.genome_file}}</a></td>
                    <td class="td-reports"><a href="{% url 'res_page' pk=request.request_id %}">{{request.nrp_file}}</a></td>
                    <td class="td-reports"><a href="{% url 'res_page' pk=request.request_id %}">{{request.matchCnt}}</a></td>
                    <td class="td-reports"><a href="{% url 'res_page' pk=request.request_id %}">{{request.status}}</a></td>
                </tr>
            {% endfor %}
            <!-/div->
        </table>

    <script src="{%  static 'JS/TabChoose.js' %}"></script>
    <script>
        changeActive("Reports");
    </script>
    </body>
</html>