{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nerpa</title>
    <link rel="stylesheet" href="{% static 'css/nrpMatcher.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

{% include 'matching/header.html' %}
        <div class="matchInfo">
            <div style="margin-left: 10px;">
                <p> <b>Score:</b> {{ result.score }}</br>
                    <b>NRP ID:</b> {{ result.mol_id }}</br>
                    <b>Genome ID:</b> {{ result.genome_id }}</br>
                    <b>Product name:</b> {{ result.product_name }} </br>
                    <b>Mass:</b> {{ result.mass }} </br>
                    <b>NRP database(s):</b> {{ result.databases }}</br>
                    <b>Link:</b> <a href={{ result.ref }}> {{ result.ref }} </a> </br>
                    <b>Num AA:</b> {{ result.AA_number }}</br>
                    <b>Num Matched AA:</b> {{  result.AA_matching_number }} </br>
                    {% autoescape off %}
                        {{ result.orfsInfo}}
                    {% endautoescape %}
                </p>
                 <a href="{{ result.linkToAntismash }}">Antismash Result</a>
            </div>
        </div>
        <div class="mainResult">
        {% autoescape off %}
            {{ result.innerTableHTML}}
        {% endautoescape %}
        <img src="{{result.img.url }}" style="max-width: 700px;width:100%;display: block;margin-left: auto;margin-right: auto;margin-top: 50px;">
        </div>
</body>
</html>