{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NRPs Matcher</title>
    <link rel="stylesheet" href="{% static 'css/nrpMatcher.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
        <div class="top">
            <img src="{%  static 'img/icon.png' %}" alt="icon" hspace="10" width="60px">
            <span style="vertical-align:top;font-family: Roboto;font-style: normal;font-weight: bold;line-height: normal;font-size: 40px;color: #CD4B2D;">NRP Matcher</span>
        </div>
        <div class="matchInfo">
            <div style="margin-left: 10px;">
                <p> <b>Score:</b> {{ result.score }}</br>
                    <b>ID:</b> {{ result.mol_id }}</br>
                    {{ result.extra_info}} </br>
                    <b>Num AA:</b> {{ result.AA_number }}</br>
                    <b>Num Matched AA:</b> {{  result.AA_matching_number }} </br>
                </p>
            </div>
        </div>
        <div class="mainResult">
        {% autoescape off %}
            {{ result.innerTableHTML}}
        {% endautoescape %}
        <img src="{{result.img.url }}" style="max-width: 700px;width:100%;display: block;margin-left: auto;margin-right: auto;margin-top: 50px;">
        </div>
</body>
</html>