{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nerpa</title>
    <link rel="stylesheet" href="{% static 'css/nrpMatcher.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

{% include 'matching/header.html' %}
        <div class="matchInfo">
            <div style="margin-left: 10px;">
                <p> <b>Score:</b> {{ result.score }}</br>
                    <b>Genome ID:</b> {{ result.genome_id }}</br>
                    <b>Orgainsm:</b> {{ result.organism }}</br>
                    <b>Extra genome info:</b> {{ result.genome_extra_info }}</br>
                    </br>
                    <b>Structure ID:</b> {{ result.mol_id }}</br>
                    <b>Product name:</b> {{ result.product_name }} </br>
                    <b>Extra structure info:</b> {{  result.mol_extra_info }} </br>
                    <b>Mass:</b> {{ result.mass }} </br>
                    <b>Num AA:</b> {{ result.AA_number }}</br>
                    <b>Num Matched AA:</b> {{  result.AA_matching_number }} </br>
                    {% autoescape off %}
                        {{ result.orfsInfo}}
                    {% endautoescape %}
                </p>
                 </br>
                 <a href="{{ result.linkToAntismash }}">Antismash Result</a>
                 <div class="withPointer" onclick="handleSMILECopy('{{ result.SMILE }}')">Copy SMILES</div>
                 <div class="withPointer" onclick="download_one_result()">Download Result</div>
            </div>
        </div>
        <div class="mainResult">
            <h3>Nerpa alignment and structure:</h3>
            <div class="vis-block">
                <div class="row">
                    <div class="column">
                        <img src="{{result.img.url }}">
                    </div>
                    <div class="column">
                        <img src="{{result.img_structure.url }}">
                    </div>
                </div>
            </div>

            <h3>Predictions:</h3>
            <div class="vis-block">
                {% autoescape off %}
                    {{ result.innerTableHTML}}
                {% endautoescape %}
            </div>

            <h3>Detailed annotation: </h3>
            <div class="vis-block">
                <div class="details-svg" id="cluster-1-details-svg"></div>
            </div>

            <h3>Gene cluster description: </h3>
            <div class="vis-block">
                <div class="description-text" id="cluster-1-description-text"> {{ result.genome_id }} - Gene Cluster 1. Type = nrps. Location:  </div>
                <div id="cluster-1-svg"></div>
            </div>
            <div class="legend">
                <h4>Legend:</h4>
                <div>
                    <div class="legend-field legend-type-biosynthetic"></div>
                    <div class="legend-label">biosynthetic genes</div>
                </div>
                <div>
                    <div class="legend-field legend-type-transport"></div>
                    <div class="legend-label">transport-related genes</div>
                </div>
                <div>
                    <div class="legend-field legend-type-regulatory"></div>
                    <div class="legend-label">regulatory genes</div>
                </div>
                <div>
                    <div class="legend-field legend-type-other"></div>
                    <div class="legend-label">other genes</div>
                </div>
            </div>

        </div>
<script src="{%  static 'JS/SMILECopy.js' %}"></script>
<script src="{%  static 'JS/download.js' %}"></script>
<script src="{%  static 'JS/Antismash/jquery.js' %}"></script>
<script src="{%  static 'JS/Antismash/purl.js' %}"></script>
<script src="{%  static 'JS/Antismash/d3.v2.js' %}"></script>
<script src="{%  static 'JS/Antismash/svgene.js' %}"></script>
<script src="{%  static 'JS/Antismash/jsdomain.js' %}"></script>
<script src="{%  static 'JS/Antismash/clusterblast.js' %}"></script>
<script src={{ result.linkToGenecluster }}></script>
<script type="text/javascript">
    svgene.drawClusters("cluster-1-svg", [geneclusters["cluster-1"]], 20, 700);
    jsdomain.drawDomains("cluster-1-details-svg", details_data["cluster-1"], 40, 700);
    document.getElementById("cluster-1-description-text").innerHTML += geneclusters["cluster-1"]["start"] + " - " +  geneclusters["cluster-1"]["end"] + " nt";
</script>
</body>
</html>