{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NRPs Matcher</title>
    <link rel="stylesheet" href="{% static 'css/nrpMatcher.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
    $(function() {
        if ($('.state_pending').length > 0) {
            setTimeout(function(){
                window.location.reload(1);
            }, 5000);
        }
    });
    </script>
</head>

<body>
{% include 'matching/header.html' %}

<p><span class="state_pending">{{ message }}</span></p>

</body>
</html>